body
{
    background-color: #2e1f36;
}

section.wrapper
{
    font-family: cursive;
    text-align: center;
}

h1
{
    color: white;
    text-transform: uppercase;
}

canvas 
{
    display: inline;
    outline: 1px solid black;
    max-width: 80%;    /*to make canvas responsive*/

    background-image: url("../img/space_background.png");  /*set background image*/
}


.fullscreen
{
    background-color: rgb(147, 90, 168);
    box-shadow: 2px 2px rgba(94, 94, 143, 0.4);
    border: 2px dotted rgba(0, 0, 255, 0.4);
    font-family: monospace;
    border-radius: 8px;
    font-size: 16px;
    margin: 20px 10px;
    padding: 5px 15px;

    color: rgb(255, 255, 255);
}

.open:hover, .close:hover
{
    background-color: rgba(126, 78, 141, 0.5);
}

.open:active, .close:active
{     
    background-color: rgba(216, 117, 255, 0.5);  
}

/*---------------------D-PAD below--------------------------------*/
.button 
{
    background-color: #74478f;
    border: none;
    box-shadow: 0 9px#422350;
    padding: 30px;
    text-align: center;
    font-size: 38px;
}
    
.button:hover 
{
    background-color: #8c69ac;
}
    
.button:active 
{
    box-shadow: 0 5px #67488b;
    transform: translateY(5px);
}
    
.red 
{
    color: #fbf1ff;
}
    
.round 
{
    border-radius: 50%;
}

#buttons
{
    position:absolute;
    left:2vw;
    top:15vh;
    font-size: 50%;
    text-align: center;
    margin: 0px;
}
/*--------------------------------------------------------------------*/

#joystick
{
    position: absolute;
    width: 150px;
    height: 150px;
    right: 150px;
    bottom: 570px;
    /*outline: solid pink 1px;*/
}


@media (max-width: 768px) 
{
    #buttons
    {
        display: none;  /*do not show on the phone screen*/
    }

    .fullscreen
    {
        display: none;  /*do not show on the phone screen*/
    }

    #joystick
    {
        left: 30%;
        bottom: 10%;
    }

    canvas
    {
        max-width: 100%;
    }

    @media only screen and (orientation: landscape) 
    {
        #joystick
        {
            left: 90%;
            bottom: 30%;
        }

        canvas
        {
            max-width: 85%;
        }
    }
}